{% extends "base.html" %}

  {% block content %}
    <div class="branding">
      <h1>Pitchlist.</h1>
      <h2>Crowd-sourced media intelligence made for publicists by publicists.</h2>
      <a href="{% url 'accounts:login' %}">
        <button type="button" class="btn btn-light">Sign In</button>
      </a>
      <a href="{% url 'accounts:signup' %}">
        <button type="button" class="btn btn-light">Learn More</button>
      </a>
    </div>
    <div class="threeblocks"></div>

  {% endblock %}
